*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(89, 170, 143);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
 border: none;
 box-shadow:  0 0 16px black;
font-size: 50px;
color: rgb(95, 47, 141);
background-color: rgb(119, 168, 168);
}

.reset{
 padding: 1rem;
font-size: 1.5rem;
background-color: black;
color: azure;
border-radius: 1rem;
margin-top: 1px;
}

#new-btn{
padding: 1rem;
font-size: 1.5rem;
background-color: black;
color: azure;
border-radius: 1rem;

}

#msg{
    color: whitesmoke;
    font-size: 5vmin;
}
.msg-box{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
 .hide{
    display: none;
 }